
# aws
BX_QUEUE_NAME = test-queue
AWS_REGION = us-east-1
AWS_ACCESS_KEY_ID = asdfkjasfdl
AWS_SECRET_ACCESS_KEY = laskdfalksdfj

# google cloud pub sub
GCP_SA = "no se sabe"
GCP_PROJECT = "prject-id-prueba"
GCP_TOPIC_ID = "topic-id-prueba" #tp-cmkin-01-dev